<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/x-icon" href="/images/pokeball_teamversus.png">
	<title>Combate Preview</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

	<link rel="stylesheet" href="/css/combatePreview.css">
	<script src="/js/combatePreview.js"></script>
</head>

<body>
	<div class="container-main">
		<div class="container-half" style="background-color:rgb(36, 52, 200)">
			<h2>Equipo Jugador</h2>
			<div class="row">
				<div th:each="pokemon : ${combate.equipoJugador}" class="col-md-4 mb-3">
					<div class="card pokemon-card">
						<div class="pokemon-info">
							<h5 class="card-title" th:text="${pokemon.nombre}"></h5>
							<div class="pokemon-image-container">
								<img th:src="${pokemon.spriteFront}" class="card-img-top pokemon-image">
							</div>
						</div>
						<p th:if="${pokemon.tipo2 != null}"
							class="pokemon-types tipo-${pokemon.tipo1.toLowerCase()} tipo-${pokemon.tipo2.toLowerCase()}"
							th:text="${pokemon.tipo1 + '/' + pokemon.tipo2}"></p>
						<p th:if="${pokemon.tipo2 == null}" class="pokemon-types tipo-${pokemon.tipo1.toLowerCase()}"
							th:text="${pokemon.tipo1}"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="vs-icon">
			<a href="/combate" class="btn btn-primary btn-combate">VS</a>
		</div>
		<div class="container-half" style="background-color: #9b59b6;">
			<h2>Equipo Rival</h2>
			<div class="row">
				<div th:each="pokemon : ${combate.equipoRival}" class="col-md-4 mb-3">
					<div class="card pokemon-card">
						<div class="pokemon-info">
							<h5 class="card-title" th:text="${pokemon.nombre}"></h5>
							<div class="pokemon-image-container">
								<img th:src="${pokemon.spriteFront}" class="card-img-top pokemon-image">
							</div>
						</div>
						<p th:if="${pokemon.tipo2 != null}"
							class="pokemon-types tipo-${pokemon.tipo1.toLowerCase()} tipo-${pokemon.tipo2.toLowerCase()}"
							th:text="${pokemon.tipo1 + '/' + pokemon.tipo2}"></p>
						<p th:if="${pokemon.tipo2 == null}" class="pokemon-types tipo-${pokemon.tipo1.toLowerCase()}"
							th:text="${pokemon.tipo1}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>