<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/x-icon" href="/images/pokeball_teamversus.png">
	<title>Combate Pokemon</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

	<link rel="stylesheet" href="/css/combate.css">
	<script src="/js/combate.js"></script>
</head>

<body>
	<div class="combate">
		<div id="interfaz-combate">
			<div class="informacion">
				<p>
					<span th:text="${combate.equipoJugador[0].nombre}"></span>
					tipo
					<span th:if="${combate.equipoJugador[0].tipo2 != null}"
						class="pokemon-types tipo-${combate.equipoJugador[0].tipo1.toLowerCase()} tipo-${combate.equipoJugador[0].tipo2.toLowerCase()}"
						th:text="${combate.equipoJugador[0].tipo1 + '/' + combate.equipoJugador[0].tipo2}"></span>
					<span th:if="${combate.equipoJugador[0].tipo2 == null}"
						class="pokemon-types tipo-${combate.equipoJugador[0].tipo1.toLowerCase()}"
						th:text="${combate.equipoJugador[0].tipo1}"></span>
					tiene una efectividad de
					<span th:text="${datosCombate.eficaciaJugador}"></span>
					contra
					<span th:text="${combate.equipoRival[0].nombre}"></span>
					tipo
					<span th:if="${combate.equipoRival[0].tipo2 != null}"
						class="pokemon-types tipo-${combate.equipoRival[0].tipo1.toLowerCase()} tipo-${combate.equipoRival[0].tipo2.toLowerCase()}"
						th:text="${combate.equipoRival[0].tipo1 + '/' + combate.equipoRival[0].tipo2}"></span>
					<span th:if="${combate.equipoRival[0].tipo2 == null}"
						class="pokemon-types tipo-${combate.equipoRival[0].tipo1.toLowerCase()}"
						th:text="${combate.equipoRival[0].tipo1}"></span>
				</p>
				<p>
					<span th:text="${combate.equipoRival[0].nombre}"></span>
					tipo
					<span th:if="${combate.equipoRival[0].tipo2 != null}"
						class="pokemon-types tipo-${combate.equipoRival[0].tipo1.toLowerCase()} tipo-${combate.equipoRival[0].tipo2.toLowerCase()}"
						th:text="${combate.equipoRival[0].tipo1 + '/' + combate.equipoRival[0].tipo2}"></span>
					<span th:if="${combate.equipoRival[0].tipo2 == null}"
						class="pokemon-types tipo-${combate.equipoRival[0].tipo1.toLowerCase()}"
						th:text="${combate.equipoRival[0].tipo1}"></span>
					tiene una efectividad de
					<span th:text="${datosCombate.eficaciaRival}"></span>
					contra
					<span th:text="${combate.equipoJugador[0].nombre}"></span>
					tipo
					<span th:if="${combate.equipoJugador[0].tipo2 != null}"
						class="pokemon-types tipo-${combate.equipoJugador[0].tipo1.toLowerCase()} tipo-${combate.equipoJugador[0].tipo2.toLowerCase()}"
						th:text="${combate.equipoJugador[0].tipo1 + '/' + combate.equipoJugador[0].tipo2}"></span>
					<span th:if="${combate.equipoJugador[0].tipo2 == null}"
						class="pokemon-types tipo-${combate.equipoJugador[0].tipo1.toLowerCase()}"
						th:text="${combate.equipoJugador[0].tipo1}"></span>
				</p>
				<p>
					Gana <span th:text="${datosCombate.ganador.nombre}">></span>
				</p>
				<form th:action="@{/procesarTurno/{indiceJugador}(indiceJugador=0)}" method="post">
					<input type="hidden" name="indiceRival" th:value="0" />
					<button type="submit" class="btn">
						<img src="/images/pokeball_teamversus.png" class="pokeball"></img>
					</button>
				</form>
			</div>
			<!-- Tu Pokémon -->
			<th:block th:if="${combate.equipoJugador != null and not #lists.isEmpty(combate.equipoJugador)}">
				<div id="nombre-pokemon-propio">
					<h2 th:text="${combate.equipoJugador[0].nombre}"></h2>
					<p th:if="${combate.equipoJugador[0].tipo2 != null}"
						class="pokemon-types tipo-${combate.equipoJugador[0].tipo1.toLowerCase()} tipo-${combate.equipoJugador[0].tipo2.toLowerCase()}"
						th:text="${combate.equipoJugador[0].tipo1 + '/' + combate.equipoJugador[0].tipo2}"></p>
					<p th:if="${combate.equipoJugador[0].tipo2 == null}"
						class="pokemon-types tipo-${combate.equipoJugador[0].tipo1.toLowerCase()}"
						th:text="${combate.equipoJugador[0].tipo1}"></p>
				</div>
				<div class="pokemon-propio">
					<img th:src="${combate.equipoJugador[0].spriteBack}">
				</div>
			</th:block>
			<!-- Rival Pokémon -->
			<div class="pokemon-rival">
				<img th:src="${combate.equipoRival[0].spriteFront}">
			</div>
			<div id="nombre-pokemon-rival">
				<h2 th:text="${combate.equipoRival[0].nombre}"></h2>
				<p th:if="${combate.equipoRival[0].tipo2 != null}"
					class="pokemon-types tipo-${combate.equipoRival[0].tipo1.toLowerCase()} tipo-${combate.equipoRival[0].tipo2.toLowerCase()}"
					th:text="${combate.equipoRival[0].tipo1 + '/' + combate.equipoRival[0].tipo2}"></p>
				<p th:if="${combate.equipoRival[0].tipo2 == null}"
					class="pokemon-types tipo-${combate.equipoRival[0].tipo1.toLowerCase()}"
					th:text="${combate.equipoRival[0].tipo1}"></p>
			</div>
		</div>
	</div>
</body>

</html>