<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/x-icon" href="/images/pokeball_teamversus.png">
	<title>Construir Equipo</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

	<link rel="stylesheet" href="/css/listaPokemon.css">
	<script src="/js/listaPokemon.js"></script>
</head>

<body>
	<div class="container container-team mt-5">
		<h2>Mi Equipo</h2>
		<div class="row">
			<div th:each="pokemon : ${equipo}" class="col-md-4 mb-3">
				<div class="card pokemon-card">
					<div class="pokemon-info">
						<h5 class="card-title" th:text="${pokemon.nombre}"></h5>
						<div class="pokemon-image-container">
							<img th:src="${pokemon.spriteFront}" class="card-img-top pokemon-image">
						</div>
					</div>
					<p th:if="${pokemon.tipo2 != null}"
						class="pokemon-types tipo-${pokemon.tipo1.toLowerCase()} tipo-${pokemon.tipo2.toLowerCase()}"
						th:text="${pokemon.tipo1 + '/' + pokemon.tipo2}"></p>
					<p th:if="${pokemon.tipo2 == null}" class="pokemon-types tipo-${pokemon.tipo1.toLowerCase()}"
						th:text="${pokemon.tipo1}"></p>
					<form th:action="@{/deletePokemon/{pokemonId}(pokemonId=${pokemon.id})}" method="post">
						<button type="submit" class="btn">
							<span class="fas fa-trash"></span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="btn-combate-container">
		<a href="/combatePreview" th:if="${#lists.size(equipo) == 6}" class="btn btn-primary btn-combate">Combate</a>
	</div>

	<div class="container container-main mt-5">
		<h2>Lista de Pokemon</h2>
		<div class="row">
			<div th:each="pokemon : ${listaPokemon}" class="col-md-4 mb-3">
				<div class="card pokemon-card">
					<div class="pokemon-info">
						<h5 class="card-title" th:text="${pokemon.nombre}"></h5>
						<div class="pokemon-image-container">
							<img th:src="${pokemon.spriteFront}" class="card-img-top pokemon-image">
						</div>
					</div>
					<p th:if="${pokemon.tipo2 != null}"
						class="pokemon-types tipo-${pokemon.tipo1.toLowerCase()} tipo-${pokemon.tipo2.toLowerCase()}"
						th:text="${pokemon.tipo1 + '/' + pokemon.tipo2}"></p>
					<p th:if="${pokemon.tipo2 == null}" class="pokemon-types tipo-${pokemon.tipo1.toLowerCase()}"
						th:text="${pokemon.tipo1}"></p>
					<form th:action="@{/addPokemon/{pokemonId}(pokemonId=${pokemon.id})}" method="post">
						<button type="submit" class="btn btn-success">
							<i class="fas fa-plus"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>