<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="icon" type="image/x-icon" href="/images/pokeball_teamversus.png">
	<title>Tabla de Tipos</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

	<link rel="stylesheet" href="/css/tablaTipos.css">
	<script src="/js/tablaTipos.js"></script>
</head>

<body>
	<h2>Tabla de Tipos</h2>
	<table>
		<tr>
			<th></th>
			<th th:each="tipoColumna : ${tabla.tiposPokemon}">
				<p class="pokemon-types tipo-${tipoColumna.toLowerCase()}" th:text="${tipoColumna}"></p>
			</th>
		</tr>
		<tr th:each="tipoFila, rowStat : ${tabla.tiposPokemon}">
			<th>
				<p class="pokemon-types tipo-${tipoFila.toLowerCase()}" th:text="${tipoFila}"></p>
			</th>

			<td th:each="tipoColumna, colStat : ${tabla.tiposPokemon}">
				<p class="valor" th:text="${tabla.efectividadesPokemon[rowStat.index][colStat.index]}"></p>
			</td>
		</tr>
	</table>
	<div class="btn-combate-container">
		<a href="/" class="btn btn-primary btn-combate">Vover a Inicio</a>
	</div>
</body>

</html>